table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.ng-anim {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 1;
}

.fade {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0.2;
}

.center-self {
    margin: 0 auto;
}

.button-bar__button {
    padding-left: 2px;
}
