<body>
    <ons-page modifier="menu-page">
        <div class="navigation-bar_menu">

        </div>

        <div class="profile-card" style="box-shadow: 0px 9px 7px -7px rgba(0,0,0,0.75);" ng-controller="MenuCtrl">
            <ons-row>
                <ons-col width="25%">
                    <img src="images/profilePicture.png" class="profile-image" style="margin-left: 15px;">
                </ons-col>
                
                <ons-col>
                    <div style="padding-left:25px ">
                        <ons-row class="profile-name" >{{profileName}}</ons-row>
                        <ons-row class="profile-id">{{companyName}}</ons-row>
                    </div>
                   
                    <!--<div class="profile-name" id="profileName" style="margin-top: 15px;">{{profileName}}</div>
                    <div class="profile-id">{{companyName}}</div>-->
                </ons-col>
            </ons-row>
        </div>

        <ons-list class="bottom-menu-list">
            <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('home.html', {closeMenu: true})">
                <ons-row>
                    <ons-col width="15%"><ons-icon icon="ion-ios-home"></ons-icon>  </ons-col>
                    <ons-col> Home</ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('settings.html', {closeMenu: true})">
                <ons-row>
                    <ons-col width="15%"><ons-icon icon="ion-ios-gear"></ons-icon>  </ons-col>
                    <ons-col> Settings</ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('help.html', {closeMenu: true})">
                <ons-row>
                    <ons-col width="15%"><ons-icon icon="ion-ios-lightbulb"></ons-icon>  </ons-col>
                    <ons-col> Help</ons-col>
                </ons-row>
            </ons-list-item>

            <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('login.html', {closeMenu: true})">
                <ons-row>
                    <ons-col width="15%"><ons-icon icon="ion-power"></ons-icon>  </ons-col>
                    <ons-col>  Log out</ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>

        <!--<div id="newsFeed" ng-include src="'foobar.html'">

        </div>-->
    </ons-page>

    <!--<ons-template id="foobar.html">
        <ons-page>
             <h3>Huhuhu</h3>
        </ons-page>
    </ons-template>-->
</body>

