<body>
    <ons-navigator animation="slide" var="vehicleStatusNav">

        <ons-page class="font-small ons-page-fixed">
            <div ng-controller="vehicleStatusCtrl">

                <div class="navigation-bar">
                    <div class="navigation-bar__left" onclick="homeNavigator.popPage({ animation: defaultTransition })">
                        <span class="toolbar-button--quiet navigation-bar__line-height">
                            <i class="ion-chevron-left"></i>
                        </span>
                    </div>
                    <div class="navigation-bar__center">
                       Vehicle Status
                    </div>
                </div>


                <ons-list modifier="inset" style="margin-top: 10px; overflow:hidden">
                    <ons-list-item>
                        <ons-row>
                            <ons-col width="35%">
                                <label>Location</label>
                            </ons-col>
                            <ons-col>
                                <select class="form-control" ng-options='item as item.Value for item in Locations' ng-model="location"  ng-change="setLocation(location)" 
                                        style="width: 100%; height: 30px; text-indent: 0; text-align-last: center;border-radius: 5px;"></select>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                </ons-list>

                <ons-list modifier="inset" style="margin-top: 10px; overflow:hidden"  sliding-menu-ignore="true">
                    <ons-list-item style="margin: 8px;" id="graph-container">
                        <canvas id="pieChart" class="center-it" style="" width="200" height="200"></canvas>
                    </ons-list-item>
                </ons-list>



                <ons-list modifier="inset" style="margin-top: 10px; overflow:hidden; ">
                    <ons-list-item modifier="tappable" ng-repeat="legend in pieLegends" style="text-align:center;">
                        <ons-row>
                            <ons-col width="40px">
                                <div class="chart-legend" style="background: {{legend.color}}"></div>
                            </ons-col>
                            <ons-col>
                                {{legend.label}}
                            </ons-col>
                            <ons-col>
                                {{legend.value}}
                            </ons-col>
                        </ons-row>

                    </ons-list-item>
                </ons-list>

            </div>
        </ons-page>
    </ons-navigator>
</body>